/*---Default Body---*/
body {
    background-image: url(../img/bkg.jpg);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: cover;   
}


/*--- ColorNavBar ---*/
.navbar {
    background-color: rgba(88, 88, 88, 0.938);
    height: 85px;
}

/*--- FonteLogo/Menu ---*/
.navbar-brand {
    font-family: 'ShadowsInto';
    color: white;
    font-size: 33px;
}

.nav-item {
    font-family: 'Dosis';
    font-size: 20px;
}

.loadingText {
    font-family: ShadowsInto;
    color: white;
}


/*-- animação Loading --*/
.c-loader {
    margin: auto;
    display: flex;
    justify-content: center;
    min-height: 60px;

    animation: is-rotating 2s infinite;

    border: 9px solid rgb(66, 150, 228);
    border-top-color: rgb(15, 106, 190);
    border-radius: 50%;
    width: 60px;
    height: 50px;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

/*-- Conteudo --*/
.conteudo {
    background-color: rgba(206, 209, 209, 0.945);
    text-align: center;
}

.conteudo img {
    margin: auto;
    display: block;
    max-width: 400px;
}