/*---Default Body---*/
body {
    margin: 0;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(../img/BackGround.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/*--- ColorNavBar ---*/
.navbar {
    background-color: rgba(88, 88, 88, 0.938);
    height: 85px;
}

/*--- FonteLogo/Menu ---*/
.navbar-brand {
    font-family: 'ShadowsInto';
    color: white;
    font-size: 33px;
}

.nav-item {
    font-family: 'Dosis';
    font-size: 20px;
}

.loadingText {
    font-size: 30px;
    font-family: ShadowsInto;
    color: white;
}


/*-- animação Loading --*/
.c-loader {
    margin: auto;
    display: flex;
    justify-content: center;
    min-height: 60px;

    animation: is-rotating 2s infinite;

    border: 9px solid rgb(66, 150, 228);
    border-top-color: rgb(15, 106, 190);
    border-radius: 50%;
    width: 60px;
    height: 50px;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

/*-- Conteudo --*/
.conteudo {
    background-color: rgba(228, 228, 226, 0.808);
    text-align: center;
    min-height: 300px;
}

.conteudo img {
    margin: auto;
    display: block;
    max-width: 400px;
}

.cardsCentral {
    margin: auto;
    display: flex;
    justify-content: center;
}

.imgDinamic{
    height: 150px;
}

.card-text{
    text-align: center;
}

.cardCentral{
    margin-right: 45px;
    background-color: #535e67;
}


footer a.text-light:hover {
    color: #fed136 !important;
    text-decoration: none;
}

footer .cizgi {
    border-right: 1px solid #535e67;
}

    @media (max-width: 992px) {
        footer .cizgi {
            border-right: none;
        }
    }

    .fixarRodape {
        bottom: 0;
        position: fixed;
        width: 100%;
        text-align: center;
    }